  <div class="event_summary">
    <% event_tally %>
    <table>
      <tr>
        <th>Enemy Strength: <%= @event_round.attack %></th>
        <th>Credit: <%= @event_round.credit %></th>
        <th>Energy: <%= @event_round.energy %></th>
      </tr>
    </table>
  </div>
