  <div class="resource_hud">
    <table>
      <tr>
        <th>Hull Strength: <%= session[:hull] %></th>
        <th>Shield Strength: <%= session[:shield] %></th>
        <th>Energy Reserves: <%= session[:energy] %></th>
        <th>Credit: <%= session[:credit] %></th>
      </tr>
    </table>
  </div>
