  <div class="resource_hud">
    <table>
      <tr>
        <th>Hull Strength: <%= @player.hull %></th>
        <th>Shield Strength: <%= @player.shield %></th>
        <th>Energy Reserves: <%= @player.energy %></th>
        <th>Credit: <%= @player.credit %></th>
      </tr>
    </table>
  </div>
