<fieldset class="station_services">
  <legend>Station Services</legend>
    <ul>
      <li><%= link_to "Repair Hull (200/hull)", games_station_path,:class => "station_repair" %></li>
    </ul>
</fieldset>
