<fieldset class="station_services">
  <legend>Station Services</legend>
    <%= render "shared/resource_hud" %>
    <ul class="services">
      <li><%= link_to "Repair Hull (500/hull)", games_station_path(:service => "repair") %></li>
      <li><%= link_to "Hire Crew Member (3000)", games_station_path(:service => "hire") %></li>
      <li><%= link_to "Recharge energy (250/unit)", games_station_path(:service => "recharge") %></li>
    </ul>
</fieldset>
