<header>Space card game prototype 0.8a</header><br>

<p><div class="heading">Main admin page</div></p>

<fieldset class="menu">
  <legend>Decks menu:</legend>
    <ul>
      <li><%= link_to "List decks", decks_path %></li>
      <li><%= link_to "Create decks", new_deck_path %></li>
    </ul>
</fieldset><br>

<fieldset class="menu">
  <legend>Game Options:</legend>
    <ul>
      <li><%= link_to "Start Game", games_new_path %></li>
      <li><%= link_to "Rules", main_rules_path %></li>
    </ul>
</fieldset><br>

<div class="footer">
Work in progress by Henry Hsu. Last update 5/26/2014
</div>
