<header>Space card game prototype 0.1a</header><br>

<p><div class="heading">Main admin page</div></p>

<div class="menu">
  Decks menu: <br>
    <ul>
      <li><%= link_to "List decks", decks_path %></li>
      <li><%= link_to "Create decks", new_deck_path %></li>
    </ul>
</div>




<div class="footer">
Work in progress by Henry Hsu. Last update 5/7/2014
</div>
